@import './util/fonts';

@import './util/variable';
@import './util/placeholder';
@import './util/mixin';

@import './components/general';

@import './components/logo';
@import './components/site-nav';
@import './components/adress-header';

@import './components/hero';

@import './components/feature';

@import './components/todo';

@import './components/team';

@import './components/client';

@import './components/footer';

@import './components/portfolio';

@import './components/modal-window';
